version: '3'

services:
  php-fpm:
    volumes:
      - ./phpapp:/var/phpapp
      - ./php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf

    networks:
      - app-network

#   webserver:
#     image: nginx:alpine
#     ports:
#       - "8081:80"
#     volumes:
#       - ./phpapp:/var/phpapp
#       - ./nginx/conf.d/:/etc/nginx/conf.d/
#     networks:
#       - app-network

networks:
  app-network:
    driver: bridge
